/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #a0fff2;
  --white: #fff;
  --black: #000;
}

/* @import './_debug'; */
@font-face { font-family: 'Fugue'; src: url( '../fonts/fugue_regular.eot' ); /* IE9 Compat Modes */ src: url( '../fonts/fugue_regular.eot?#iefix' ) format( 'embedded-opentype' ), /* IE6-IE8 */ url( '../fonts/fugue_regular.woff' ) format( 'woff' ), /* Modern Browsers */ url( '../fonts/fugue_regular.ttf' ) format( 'truetype' ); /* Safari, Android, iOS */ font-style: normal; font-weight: 400; }
@font-face { font-family: 'Fugue'; src: url( '../fonts/fugue_regular_italic.eot' ); /* IE9 Compat Modes */ src: url( '../fonts/fugue_regular_italic.eot?#iefix' ) format( 'embedded-opentype' ), /* IE6-IE8 */ url( '../fonts/fugue_regular_italic.woff' ) format( 'woff' ), /* Modern Browsers */ url( '../fonts/fugue_regular_italic.ttf' ) format( 'truetype' ); /* Safari, Android, iOS */ font-style: italic; font-weight: 400; }
/* site css */
.fugue { font-family: 'Fugue', sans-serif}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fugue';
  color: var(--white);
}

.background {
  background-size: cover;
  background-image: url(/img/static.gif);
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.home-box {
  background-color: var(--black);
  margin: 10px;
  padding: 10px;
  width: 25%;
}

@media (max-width: 1200px) { 
  .main-content {
    display: block;
  }
  .home-box {
    width: 100%;
  }
  .tmpl-post img {
    width: 100%;
}
 }

 .tmpl-post img {
  width: 50%;
}

.tmpl-post code {
  color: var(--white)
}

.tmpl-post pre {
  background-color:var(--black);
}

.tmpl-post p {
  padding: 15px 0px;
  font-size: 1.2em;
}

 .home-box.blog {
  flex-grow: 2;
}

.home-box.blog-page {
  flex-grow: 3;
}

.home-box h3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.home-box h4 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

li.secondary-nav {
  list-style: none;
  margin: 15px 0;
}

.home-box p {
  line-height: 1.5em;
  margin: 0;
}

p.bio {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
  text-decoration: underline;
}

a[href]:visited {
  color: var(--blue);
  text-decoration: underline;
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  background-color: var(--black);
  color: var(--white);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
  text-transform: uppercase;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: underline;
}
.nav-item a[href]:hover {
 color: var(--white);
}

.nav-item-active {
  font-weight: 700;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--white);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--black);
  border: 1px solid var(--blue);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
  text-decoration: none;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--blue);
  color: var(--black);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
